@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.Send-Audio {
  border-radius: 10px;
  background-color: orange;
  border-width: 0px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Send-Audio:hover {
  transform: scale(1.1);
}

.material-icons.audio {
  color: white;
}
