.Drawer {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: black;
  padding: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  transition: width 0.3s ease;
}

.Drawer-Collapsed {
  width: 60px;
}

.Drawer-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button-Icon {
  padding-right: 10px;
  font-size: 20px;
}

.Upload-Button:hover {
  background-color: #313131;
}

.Upload-Button-Selected {
  background-color: #313131;
}

.Toggle-Button {
  margin-top: 0;
}

.Qolt-logo {
  height: 50px;
  width: auto;
  margin-left: 65px;
}

.Drawer-Collapsed .Button-Icon {
  padding-right: 0;
}

.Drawer-Collapsed .Drawer-Button {
  justify-content: center;
}

.Drawer-Collapsed .Drawer-Button span {
  display: flex;
  justify-content: center;
  width: 100%;
}
